<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>

    <meta property="og:title" content="Bosong's Portfolio" />
    <meta property="og:description" content="My first Project" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&family=Yeon+Sung&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Pen Script', cursive;
            font-family: 'Yeon Sung', cursive;
        }

        .price {
            font-size: 25px;
        }

        .wrap {
            width: 600PX;
            margin: auto;
            display: block;
        }

        .btn-primary {
            margin: auto;
            display: block;
        }

        .item-order{
            width: 500px;
            margin-bottom: 50px;
        }

        .rate {
            color: blue;
        }

    </style>
    <script>
        $(document).ready(function () {
            get_rate()
            listing()
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response['orders'];
                    for (let i = 0; i < orders.length; i++) {
                        let name = orders[i]['name']
                        let count = orders[i]['count']
                        let address = orders[i]['address']
                        let phone = orders[i]['phone']

                        let temp_html = `<tr>
                                            <th scope="row">${name}</th>
                                            <td>${count}</td>
                                            <td>${address}</td>
                                            <td>${phone}</td>
                                        </tr>`
                        $('#orders-box').append(temp_html)
                    }
                }
        })
    }

            function get_rate() {
                $.ajax({
                    type: "GET",
                    url: "http://spartacodingclub.shop/sparta_api/rate",
                    data: {},
                    success: function (response) {
                        let now_rate = response['rate'];
                        $('#now_rate').text(now_rate);
                    }
                })
            }

            function order() {
                let name = $('#order-name').val()
                let count = $('#order-count').val()
                let address = $('#order-address').val()
                let phone = $('#order-phone').val()

                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {name_give: name, count_give: count, address_give: address, phone_give: phone},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        }
                    }
                })
            }



    </script>

</head>

<body>
<div class="wrap">

    <img src="https://s3.ap-northeast-2.amazonaws.com/img.kormedi.com/news/article/__icsFiles/artimage/2017/06/15/c_km601/shutterstock_427442281_540.jpg"/>
    <p>
    <h1 class="title">신선한 브로콜리를 팝니다. <span class="price">가격:3,500원/개</span></h1>
    <h3>저희 프레쉬닷컴에서 번개배송되는 이 브로콜리는 가장 신선한 상태로 바로 다음날 당신의 밥상에 오를준비가 되어있습니다!
        <br>
        브로콜리에 함유된 비타민이 레몬의 2배라는 것 알고계셨나요? 바로 내일 아침! 우리 가족 비타민 식사 어떠세요?</h3>
    <p class="rate">달러-원 환율:<span id="now_rate">1219.15</span></p>

    <div class="item-order">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">주문자 이름</span>
        </div>
        <input id="order-name" type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">수량</label>
        </div>
        <select id="order-count" class="custom-select">
            <option selected>--수량을 선택하세요--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">주소</span>
        </div>
        <input id="order-address" type="text" class="form-control" aria-label="Small"
               aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">전화번호</span>
        </div>
        <input id="order-phone" type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="button" onclick="order()" class="btn btn-primary btn-order">주문하기</button>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">주문자</th>
        <th scope="col">수량</th>
        <th scope="col">주소</th>
        <th scope="col">전화번호</th>
    </tr>
    </thead>
    <tbody id="orders-box">
    </tbody>
</table>
</div>


</body>

</html>